SNAPSHOT_URL=https://192.168.1.199/cgi-bin/api.cgi?cmd=Snap&channel=0.rs=abc123&user=admin&password=dein_passwort&width=1920&height=1080
MQTT_HOST=192.168.1.180
MQTT_PORT=1883
MQTT_USER=mqtt
MQTT_PASSWORD=mqtt
